@model QuanLyVT.Models.HOP_DONG

@{
    ViewBag.Title = "Hợp đồng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h5><b>Trang chủ > Hợp đồng > Thêm mới</b></h5>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h3><b>Thêm mới hợp đồng</b></h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Ma_HD, "Số hợp đồng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ma_HD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ma_HD, "", new { @class = "text-danger" })
            @if (ViewBag.ErrorMessage != null)
            {
                <h5 style="color:red">@ViewBag.ErrorMessage</h5>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TEN_HD, "Tên hợp đồng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.TEN_HD, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TEN_HD, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ngay_Hoan_Thanh, "Ngày hoàn thành", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ngay_Hoan_Thanh, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ngay_Hoan_Thanh, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.So_Luong, "Số lượng", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.So_Luong, new { htmlAttributes = new { @class = "form-control" , @type="number"} })
            @Html.ValidationMessageFor(model => model.So_Luong, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Han_BH, "Hạn bảo hành", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Han_BH, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Han_BH, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ghi_Chu, "Ghi chú", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ghi_Chu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ghi_Chu, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
            @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
            </div>
        </div>*@

    <div class="form-group">
        @Html.LabelFor(model => model.ID_THIET_BI, "Tên thiết bị", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("ID_THIET_BI", null, htmlAttributes: new { @class = "form-control" })*@
            @Html.DropDownList("ID_THIET_BI", (IEnumerable<SelectListItem>)ViewBag.TbList, "------Chọn thiết bị------", new { @class = "form-control" })
            @*@Html.ValidationMessageFor(model => model.ID_THIET_BI, "", new { @class = "text-danger" })*@
        </div>
    </div>


    <div class="form-group">
        @Html.LabelFor(model => model.ID_BENH_VIEN, "Tên bệnh viện/ đối tác", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("ID_BENH_VIEN", (IEnumerable<SelectListItem>)ViewBag.BvList, "------Chọn bệnh viện/ đối tác------", new { @class = "form-control" })
            @*@Html.ValidationMessageFor(model => model.ID_BENH_VIEN, "", new { @class = "text-danger" })*@
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_NGUOI_PHU_TRACH, "Người phụ trách", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("ID_NGUOI_PHU_TRACH", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_NGUOI_PHU_TRACH, "", new { @class = "text-danger" })*@
            @Html.DropDownList("ID_NGUOI_PHU_TRACH", (IEnumerable<SelectListItem>)ViewBag.NptList, "------Chọn người phụ trách------", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_NHAN_VIEN_KY_THUAT, "Nhân viên kỹ thuật", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.DropDownList("ID_NHAN_VIEN_KY_THUAT", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ID_NHAN_VIEN_KY_THUAT, "", new { @class = "text-danger" })*@
            @Html.DropDownList("ID_NHAN_VIEN_KY_THUAT", (IEnumerable<SelectListItem>)ViewBag.NvList, "------Chọn nhân viên kỹ thuật------", new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm Mới" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    <button class="btn btn-error" style="color: white">
        @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-warning", Styles = "color:white !important" })
    </button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
