@model QuanLyVT.Models.HOP_DONG

@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5><b>Trang chủ > Hợp đồng > Thông tin chi tiết</b></h5>

<div>
    <h4><b>THÔNG TIN CHI TIẾT</b></h4>
    <hr />
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.BENH_VIEN.Ma_BV)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BENH_VIEN.Ma_BV)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NGUOI_PHU_TRACH.Ma_Nguoi_Phu_Trach)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NGUOI_PHU_TRACH.Ma_Nguoi_Phu_Trach)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NHAN_VIEN_KY_THUAT.Ma_NV_KT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NHAN_VIEN_KY_THUAT.Ma_NV_KT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.THIET_BI.Ma_TB)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.THIET_BI.Ma_TB)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ma_HD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ma_HD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ngay_Hoan_Thanh)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ngay_Hoan_Thanh)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Han_BH)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Han_BH)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ghi_Chu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ghi_Chu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FileName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FileName)
            </dd>


        </dl>*@
<div class="dl-horizontal">
    <div class="col-md-2"></div>
    <div class="col-md-4">
        <div>
            <label style=" margin-top: 12px">Số hợp đồng</label>

            @Html.EditorFor(model => model.Ma_HD, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </div>
        <div>
            <label style=" margin-top: 12px">Tên hợp đồng</label>

            @Html.EditorFor(model => model.TEN_HD, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </div>
        <div>
            <label style=" margin-top: 12px">Tên bệnh viện/ đối tác</label>

            @Html.EditorFor(model => model.BENH_VIEN.Ten_BV, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </div>

        <div>
            <label style=" margin-top: 12px">Ngày hoàn thành</label>

            @Html.EditorFor(model => model.Ngay_Hoan_Thanh, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </div>

        <div>
            <label style=" margin-top: 12px">Hạn bảo hành</label>

            @Html.EditorFor(model => model.Han_BH, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </div>
    </div>
    <div class="col-md-6">
        <div>
            <label style=" margin-top: 12px">Người phụ trách</label>
            @Html.EditorFor(model => model.NGUOI_PHU_TRACH.Ten_Nguoi_Phu_Trach, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </div>
        <div>
            <label style=" margin-top: 12px">Nhân viên kỹ thuật</label>
            @Html.EditorFor(model => model.NHAN_VIEN_KY_THUAT.Ten_NV_KT, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </div>
        <div>
            <label style=" margin-top: 12px">Thiết bị</label>
            @Html.EditorFor(model => model.THIET_BI.Ten_TB, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </div>
        <div>
            <label style=" margin-top: 12px">Ghi chú</label>
            @Html.EditorFor(model => model.Ghi_Chu, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </div>
        <div>
            <label style=" margin-top: 12px">File Name</label>
            @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </div>
    </div>
    <div class="col-md-2"></div>
</div>
    <div class="col-md-12" style="margin-bottom:50px"></div>

</div>
<p style="text-align: center; margin-top: 60px">
   
        @Html.ActionLink("Chỉnh sửa", "Edit", new { id = Model.ID_HOP_DONG }, new { @class = "btn btn-warning", Styles = "color:white" }) |
        <button class="btn btn-erorr" style="color: white; margin:0 80px 0 0">
            @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-warning", Styles = "color:white !important" })
        </button>
</p>
