@model QuanLyVT.Models.LINH_KIEN

@{
    ViewBag.Title = "Chỉnh sửa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h5><b>Trang chủ > Linh kiện > Chỉnh sửa thông tin linh kiện</b></h5>


@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>LINH_KIEN</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.ID_LINH_KIEN)

            <div class="form-group">
                @Html.LabelFor(model => model.Ma_So_LK, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ma_So_LK, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ma_So_LK, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Ten_LK, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ten_LK, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Ten_LK, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.XX_TC, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.XX_TC, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.XX_TC, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Nam_SX, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Nam_SX, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Nam_SX, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ID_DVT, "ID_DVT", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ID_DVT", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_DVT, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.ID_TINH_TRANG, "ID_TINH_TRANG", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("ID_TINH_TRANG", null, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ID_TINH_TRANG, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>
    }*@

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h3><b>Cập nhật thông tin </b></h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID_LINH_KIEN)

    <div class="form-group">
        <div class="control-label col-md-2">Mã người dùng</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ma_So_LK, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.HiddenFor(model => model.Ma_So_LK)
            @Html.ValidationMessageFor(model => model.Ma_So_LK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Tên người dùng</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ten_LK, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ten_LK, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">Mật khẩu</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.XX_TC, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.XX_TC, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">Năm sản xuất</div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nam_SX, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nam_SX, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">Tình trạng</div>
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.PHAN_QUYEN.Ten_Quyen, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownList("ID_TINH_TRANG", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_TINH_TRANG, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="control-label col-md-2">Đơn vị tính</div>
        <div class="col-md-10">
            @Html.DropDownList("ID_DVT", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_DVT, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Lưu" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    <button class="btn btn-error" style="color: white">
        @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-warning", Styles = "color:white !important" })
    </button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
