@model IEnumerable<QuanLyVT.Models.PHAN_QUYEN>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Ma_Phan_Quyen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ten_Quyen)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Ma_Phan_Quyen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ten_Quyen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID_PHAN_QUYEN }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID_PHAN_QUYEN }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID_PHAN_QUYEN })
        </td>
    </tr>
}

</table>
