@model QuanLyVT.Models.NGUOI_DUNG

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h5><b>Trang chủ > Người dùng > Xóa thông tin</b></h5>

<div>
    <h3><b>Bạn có chắc chắn muốn xóa bản ghi này không?</b></h3>
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.PHAN_QUYEN.Ma_Phan_Quyen)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PHAN_QUYEN.Ma_Phan_Quyen)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ma_Nguoi_Dung)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ma_Nguoi_Dung)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ten_Nguoi_Dung)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ten_Nguoi_Dung)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Mat_Khau)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Mat_Khau)
            </dd>

        </dl>*@
    <dl class="dl-horizontal">
        <dt>
            <label>Mã người dùng</label>
        </dt>

        <dd>
          
            @Html.EditorFor(model => model.Ma_Nguoi_Dung, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </dd>
        <dt>
            <label>Tên người dùng</label>
        </dt>

        <dd>
            
            @Html.EditorFor(model => model.Ten_Nguoi_Dung, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </dd>

        <dt>
            <label>Mật khẩu</label>
        </dt>

        <dd>
           
            @Html.EditorFor(model => model.Mat_Khau, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </dd>

        <dt>
            <label>Quyền</label>
        </dt>

        <dd>
            @Html.EditorFor(model => model.PHAN_QUYEN.Ten_Quyen, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
            @*@Html.EditorFor(model => model.PHAN_QUYEN.Ma_Phan_Quyen, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })*@
        </dd>

        

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

<div class="form-actions no-color">
    @if (TempData["ResultMessage"] != null)
    {
        <h5 style="color:red">@TempData["ResultMessage"]</h5>
    }
    <input type="submit" value="Xóa" class="btn btn-danger" /> |
    <button type="button" class="btn btn-secondary">
        @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-warning" }, new { @style = "color:blue !important" })
    </button>
</div>
    }
</div>
