@model QuanLyVT.Models.NHAN_VIEN_KY_THUAT

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h5><b>Trang chủ > Nhân viên kỹ thuật > Xóa thông tin</b></h5>

<div>
    <h3><b>Bạn có chắc chắn muốn xóa bản ghi này không?</b></h3>
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ma_NV_KT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ma_NV_KT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ten_NV_KT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ten_NV_KT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Chuc_Vu)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Chuc_Vu)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.So_Dien_Thoai)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.So_Dien_Thoai)
            </dd>

        </dl>*@

    <dl class="dl-horizontal">
        <dt>
            <label>Mã NVKT</label>
        </dt>

        <dd>

            @Html.EditorFor(model => model.Ma_NV_KT, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </dd>
        <dt>
            <label>Tên NVKT</label>
        </dt>

        <dd>

            @Html.EditorFor(model => model.Ten_NV_KT, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </dd>

        <dt>
            <label>Chức vụ</label>
        </dt>

        <dd>

            @Html.EditorFor(model => model.Chuc_Vu, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </dd>

        <dt>
            <label>Số điện thoại</label>
        </dt>

        <dd>
            @Html.EditorFor(model => model.So_Dien_Thoai, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
           
        </dd>



    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <button type="button" class="btn btn-secondary">
                @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-warning" }, new { @style = "color:blue !important" })
            </button>
        </div>
    }
</div>
