@model QuanLyVT.Models.NGUOI_PHU_TRACH

@{
    ViewBag.Title = "Thêm mới";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h5><b>Trang chủ > Người phụ trách > Thêm mới</b></h5>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h3><b>Thêm mới người phụ trách</b></h3>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Ma_Nguoi_Phu_Trach, "Mã NPT", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ma_Nguoi_Phu_Trach, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ma_Nguoi_Phu_Trach, "", new { @class = "text-danger" })
            @if (ViewBag.ErrorMessage != null)
            {
                <h5 style="color:red">@ViewBag.ErrorMessage</h5>
            }
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Ten_Nguoi_Phu_Trach, "Tên NPT", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ten_Nguoi_Phu_Trach, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Ten_Nguoi_Phu_Trach, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Chuc_Vu, "Chức vụ", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Chuc_Vu, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Chuc_Vu, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.So_Dien_Thoai, "Số điện thoại", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.So_Dien_Thoai, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.So_Dien_Thoai, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.ID_BENH_VIEN, "Bệnh viện/ đối tác", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*@Html.EditorFor(model => model.ID_BENH_VIEN, new { htmlAttributes = new { @class = "form-control" } })*@
            @Html.DropDownList("ID_BENH_VIEN", (IEnumerable<SelectListItem>)ViewBag.BvList, "------Chọn bệnh viện/ đối tác------", new { @class = "form-control" })
        </div>
    </div>
    @Html.HiddenFor(model => model.BENH_VIEN.Ma_BV)
    @*<div class="form-group">
        @Html.LabelFor(model => model.Ma_BV, "Mã bệnh viện/ đối tác", htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Ma_BV, new { htmlAttributes = new { @class = "form-control" } })
            @Html.DropDownList("Ma_BV", null, htmlAttributes: new { @class = "form-control", @disabled = "disalbled" })
            @Html.HiddenFor(model => model.BENH_VIEN.Ma_BV)
            @Html.ValidationMessageFor(model => model.Ma_BV, "", new { @class = "text-danger" })
        </div>
    </div>*@
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Thêm Mới" class="btn btn-success" />
        </div>
    </div>
</div>
}

<div>
    <button class="btn btn-error" style="color: white">
        @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-warning", Styles = "color:white !important" })
    </button>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
