@model QuanLyVT.Models.NGUOI_PHU_TRACH

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NGUOI_PHU_TRACH</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ma_Nguoi_Phu_Trach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ma_Nguoi_Phu_Trach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ten_Nguoi_Phu_Trach)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_Nguoi_Phu_Trach)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ma_BV)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ma_BV)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chuc_Vu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chuc_Vu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.So_Dien_Thoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.So_Dien_Thoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ID_BENH_VIEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID_BENH_VIEN)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
