@model QuanLyVT.Models.DVT

@{
    ViewBag.Title = "Xóa";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h5><b>Trang chủ > Đơn vị tính > Xóa thông tin</b></h5>
<div>
    <h3><b>Bạn có chắc chắn muốn xóa bản ghi này không?</b></h3>
    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Ma_DVT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ma_DVT)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Ten_DVT)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Ten_DVT)
            </dd>

        </dl>*@
    <dl class="dl-horizontal">
        <dt>
            <label>Mã đơn vị tính</label>
        </dt>

        <dd>

            @Html.EditorFor(model => model.Ma_DVT, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </dd>
        <dt>
            <label>Tên đơn vị tính</label>
        </dt>

        <dd>

            @Html.EditorFor(model => model.Ten_DVT, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled", @style = " margin: 5px" } })
        </dd>

       

    </dl>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">

            <input type="submit" value="Xóa" class="btn btn-danger" /> |
            <button type="button" class="btn btn-secondary">
                @Html.ActionLink("Quay lại", "Index", new { @class = "btn btn-warning" }, new { @style = "color:blue !important" })
            </button>
        </div>
    }
</div>
